h1 {
    color: #fff;
    background-color: #000000;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
}

button {
    vertical-align: top;
}

.form {
    padding: 10px 20px;
    background-color: #FFF;
    border: 1px solid #000000;
    border-radius:3px;
    text-align: center;
    margin-bottom: 20px;
}

li:hover {
    background-color: #000;
    font-weight: bold;
    color: #fff;
}